[submodule "tmux-sensible"]
	path = tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "claude-private"]
	path = claude-private
	url = git@github.com:Gilles86/claude-private.git
